/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.center {
  display: flex;
  justify-content: center;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-text {
  color: gray;
  font-size: 1.5rem;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
}
.container .navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 3% 1%;
}
.container .navigation a {
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.container .first,
.container .second,
.container .third {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container #name {
  width: 58%;
  background-color: #b8e5d1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
.container #name h1 {
  font-size: 4.2rem;
  font-family: 'Oswald', sans-serif;
  color: #6c3f9e;
  font-weight: 600;
}
.container #name h2 {
  font-family: 'IBM Plex Serif', serif;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  padding: 1.3rem;
}
.container #contact {
  width: 40%;
  background-color: #d3c4e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container #contact p {
  line-height: 2;
  color: #ffffff;
  font-size: 1.2rem;
}
.container .second,
.container .third {
  margin-top: 1rem;
}
.container .experience {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #d3c4e3;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  font-size: 2rem;
  padding: 1.3rem;
  font-weight: 600;
}
.container .education {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #b8e5d1;
  font-family: 'Oswald', sans-serif;
  color: #6c3f9e;
  font-size: 2rem;
  padding: 1.3rem;
  font-weight: 600;
}
.container .skills {
  width: 40%;
}
.container .awards {
  width: 58%;
}
